<!-- Menu privado -->
<li>
    <a href='./?solicitud=personal'>
        Personal
    </a>
</li>
<li>
    <a href='./?solicitud=entidades'>
        Entidades
    </a>
</li>
<li>
    <a href='./?solicitud=roles'>
        Roles
    </a>
</li>
<li>
    <a href='./?solicitud=aplicaciones'>
        Aplicaciones
    </a>
</li>
<li>
    <a href='./?solicitud=usuarios'>
        Usuarios
    </a>
</li>