<tr>
    <td>
        {ENTIDAD}
    </td>
    <td>
        {ROL}
    </td>
    <td>
        <a class='paper-btn btn-danger-outline btn-small' href='./?solicitud=usuarios&accion=roles-borrar&id_cuenta={IDCUENTA}&id_entidad={IDENTIDAD}&id_rol={IDROL}'>
            <i class='las la-trash-alt'></i>
        </a>
    </td>
</tr>